.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting i {
  margin-right: 20px;
  opacity: 0.7;
}
.settings__setting span {
  margin-right: 5px;
}

.settings__setting:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.settings__setting:nth-child(3) div {
  padding-bottom: 15px;
}
.settings__setting:nth-child(4) div {
  padding-top: 15px;
}
.settings__setting-colunm:last-child {
  color: rgba(0, 0, 0, 0.6);
}
settings__setting-colunm-version {
  margin-bottom: 20px;
}
.settings__setting-colunm {
  position: relative;
}
