.badge {
  background-color: tomato;
  color: white;
  font-weight: 600;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}
.settings-badge {
  background-color: tomato;
  color: white;
  font-weight: 600;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 135px;
  top: 640px;
}
.settings-badge2 {
  background-color: tomato;
  color: white;
  font-weight: 600;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: fixed;
  left: 135px;
  top: 580px;
}
